@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
:root {
  --primaryColor: #101820;
  --secondColor: #009bf9;
  --textdColor: #f2faff;
  --gray: rgba(42, 53, 62, 0.4);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: "Open Sans", sans-serif;
  border: none;
  list-style: none;
}
/* NAVBAR */

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
  background: var(--primaryColor);
  color: var(--textdColor);
}

#mainNavbar {
  background-color: var(--primaryColor) !important ;
  border-bottom: 1px solid var(--gray);
}

#mainNavbar .nav-item .nav-link {
  position: relative;
  color: var(--textdColor);
}

#mainNavbar .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--secondColor);
  bottom: -3px;
  left: 0;
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
}

#mainNavbar .nav-item:not(:last-child) .nav-link:hover::after {
  width: 100%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.img_fluid {
  width: 60px;
}

section {
  padding: 5rem 0;
}

.section-title {
  padding-bottom: 4rem;
  position: relative;
}

.sub-title {
  color: var(--secondColor);
  font-size: 11px;
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-55%, -55%);
  -webkit-transform: translate(-55%, -55%);
  -moz-transform: translate(-55%, -55%);
  -ms-transform: translate(-55%, -55%);
  -o-transform: translate(-55%, -55%);
}

/* HERO SECTION */

#hero {
  background-image: url(./img/bulle8.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}

#hero .social a {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

#hero .social a:hover {
  color: var(--textdColor);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#hero h1 .typer {
  color: var(--secondColor);
}

/* ABOUT SECTION */

.exp {
  background-color: var(--gray);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 0px 30px 45px rgba(22, 22, 22, 0.15);
}

.exp-number {
  margin-top: 20px;
  margin-bottom: -3px;
}

/* SKILLS SECTION */

.skill {
  background-color: var(--gray);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.skill:hover {
  transform: scale(1.2) rotate(-5deg);
  -webkit-transform: scale(1.2) rotate(-5deg);
  -moz-transform: scale(1.2) rotate(-5deg);
  -ms-transform: scale(1.2) rotate(-5deg);
  -o-transform: scale(1.2) rotate(-5deg);
  box-shadow: 0px 10px 25px 10px rgba(9, 132, 206, 40);
}

/* SERVICE SECTION */

.service-box {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.service-box:hover {
  background-image: linear-gradient(-45deg, #2763b8 0%, #2232dd 100%);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 20px 0;
}

/* PORTFOLIO SECTION */

#portefolio img {
  width: 100%;
  height: 350px;
  cursor: pointer;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  object-fit: cover;
}
#gallery-modal .modal-img {
  width: 100%;
}
